// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@import "../utilities/variables";

.button {
  width: 200px;
  height: 40px;
  transition: all 200ms ease;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    transition: all 0.4s;
  }
}

.button span {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: darken($color: $color-primary, $amount: 40%);
  transition: all 0.4s;
}

.button:hover::before {
  opacity: 1;
  width: 100%;
}

.button--primary {
  border-color: $color-white;

  &:hover,
  &:active,
  &:focus {
    color: $color-white;
    border-color: darken($color: $color-primary, $amount: 40%);
    background-color: $color-primary;
  }
}

.button--secondary {
  background-color: $color-primary;
  color: $color-white;
  border-color: $color-primary;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-white;
    border-color: darken($color: $color-primary, $amount: 40%);
  }
}

.button--alternative {
  background-color: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-primary;
    color: $color-white;
    border-color: darken($color: $color-primary, $amount: 40%);
  }
}
